<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Civilization VI Drafter</title>
    <meta name="description"
          content="Yet another multiplayer drafting tool for Sid Meier's Civilization VI. Select between 1-12 players and 1-6 choices. Leader Pass support!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />

    <meta name="theme-color" content="#a26638">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a26638">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" class="brand-link">
          <img alt="" class="logo" src="assets/img/logo.svg">
          Civilization VI Drafter
        </a>

        <div class="header-actions"></div>
      </div>
    </header>

    <main class="container" id="mount">
      <div class="loading-indicator">
        <span class="fas fa-circle-notch fa-spin"></span>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <ul class="footer-items">
          <li>
            <a href="mailto:info@civilizationdrafter.com" target="_blank" rel="noopener noreferrer">Contact</a>
          </li>
          <li>
            <a href="https://patreon.com/civdrafter" target="_blank" rel="noopener noreferrer">Become a Patron</a>
          </li>
          <li>
            <a href="https://ko-fi.com/onyxfox" target="_blank" rel="noopener noreferrer">
              Buy Me <span aria-hidden="true" class="strikethrough">a Coffee</span> Tea
            </a>
          </li>
        </ul>
        <div class="footer-disclaimer">
          <strong>Civilization</strong> is a registered trademark of <a href="https://www.take2games.com/">Take-Two Interactive Software, Inc.</a>
          This website is not affiliated with Take-Two.
        </div>
      </div>
    </footer>
    <%= env %>
    <!-- Google tag (gtag.js) -->
    <script async src="//www.googletagmanager.com/gtag/js?id=G-0RHDRZ0KXB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'G-0RHDRZ0KXB');
    </script>
  </body>
</html>
