//
// Draft settings
// --------------------------------------------------

.draft-area form {
  margin-bottom: 2rem;

  .btn-primary {
    margin-top: 1rem;
  }
}

.leader-icon {
  margin-right: .25rem;
}
