//
// Draft results
// --------------------------------------------------

.draft-results {
  margin-bottom: 2rem;

  > ul {
    margin-bottom: 0;
  }
}

.draft-results-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;

  > button {
    margin-bottom: 1rem;
  }
}

.draft-results-players,
.draft-results-player-choices {
  padding-left: 0;
  list-style: none;
}

.draft-results-players {
  > li {
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    border: 1px solid $draft-player-border;
    border-bottom-width: 2px;
    border-radius: $border-radius;
    padding: .5rem;

    &:hover,
    &:hover h3 {
      border-color: $draft-player-border-hover;
    }

    + li {
      @include media-breakpoint-up(lg) {
        margin-top: .5rem;
      }

      margin-top: 1rem;
    }
  }

  h3 {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
      border-right: 2px solid $draft-player-border;
      padding: 0 .5rem;
      font-size: 18px;
    }

    flex-shrink: 0;
    max-width: 400px;
    font-size: 24px;
    font-weight: bold;
  }
}

.draft-results-player-choices {
  @include media-breakpoint-up(lg) {
    padding: 0 .5rem;
  }

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: .5rem;

  > li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $draft-choice-border;
    border-radius: 50rem;
    padding: .125rem .325rem .125rem .25rem;
    font-size: 18px;
  }

  img {
    margin-right: .25rem;
  }
}
