//
// Footer
// --------------------------------------------------

footer {
  flex-shrink: 0;
  margin-top: auto;
  background: $footer-bg;
  padding: 1rem;
  text-align: center;
  color: $footer-color;
  font-size: 14px;
}
