//
// Forms
// --------------------------------------------------

.control-range {
  margin-bottom: .5rem;
  max-width: 600px;
  text-align: left;

  label {
    margin-bottom: 0;
    width: 100%;
  }
}

.form-submit-area {
  display: grid;
  width: 25%;
  margin: 0 auto;
  gap: .5rem;
}
