//
// Forms
// --------------------------------------------------

.control-range {
  max-width: 600px;
  margin-bottom: .5rem;
  text-align: left;

  label {
    margin-bottom: 0;
    width: 100%;
  }
}

.form .btn-primary {
  margin-top: .5rem;
}
