//
// Heading
// --------------------------------------------------

header {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem .75rem;
  }

  .brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $dark;
    font-weight: bold;

    &:hover {
      color: $dark;
    }
  }

  .logo {
    margin-right: .25rem;
    width: 24px;
  }

  .header-links {
    margin-left: auto;
  }
}
