//
// Heading
// --------------------------------------------------

header {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $header-border-color;
  background: $header-bg;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem .75rem;
  }

  .brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $header-color;
    font-family: $header-font;
    font-size: 22px;
    font-weight: 500;

    &:hover {
      color: $header-color;
    }
  }

  .logo {
    margin-right: .375rem;
    width: 32px;
  }

  .header-links {
    margin-left: auto;
  }
}
