//
// Header
// --------------------------------------------------

header {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $header-border-color;
  background: $header-bg;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem .75rem;

    @media (min-width: 350px) {
      flex-direction: row;
    }
  }

  .brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $header-color;
    font-size: 22px;
    font-weight: 600;

    &:hover {
      color: $header-color;
    }
  }

  .logo {
    margin-right: .5rem;
    width: 38px;
    height: 38px;
  }
}

.header-actions {
  > .theme-switcher {
    display: flex;
    align-items: center;
    transition: all .25s ease-out;
    border: 0;
    border-radius: 50%;
    background: none;
    padding: .5rem;
    color: $header-color;
    font-size: 20px;

    &:hover {
      background: $header-action-hover-bg;
    }

    &:active,
    &:focus {
      background: $header-action-focus-bg;
    }

    &.theme-dark {
      transform: rotate(360deg);
    }
  }

  @media (min-width: 350px) {
    margin-left: auto;
  }
}
