//
// Scaffolding
// --------------------------------------------------

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $header-border-color;
  background: $header-bg;
}

main {
  height: 100%;
}
