//
// Scaffolding
// --------------------------------------------------

html,
body {
  height: 100%;
}

// Push footer down toward bottom in all cases
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  height: 100%;
  margin-bottom: 1rem;
}
