//
// Variables
// --------------------------------------------------

$primary: #a26638;
$app-width: 980px;
$border-radius: 2px;

$header-bg: #fefcfb;
$header-color: #212529;
$header-border-color: $primary;
$header-font: "Roboto", sans-serif;

$accordion-border-color: lighten($primary, 25%);

$draft-player-border: #c0bbb8;
$draft-player-border-hover: #20201f;
$draft-choice-border: #20201f;

$footer-bg: #f4f4f4;
$footer-bg: lighten($primary, 53%);
$footer-color: #6c757d;
