//
// Variables
// --------------------------------------------------

$primary: #a26638;
$border-radius: 2px;
$app-width: 980px;

// Note that Window's crappy Segoe UI font is off-center, causing vertical alignment issues
// Looking at you, Bootstrap, who likes to default to system-ui
$font-family-base: "Work Sans", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$header-bg: #fefcfb;
$header-color: #212529;
$header-border-color: $primary;
$header-font: $font-family-base;

$accordion-border-color: lighten($primary, 25%);

$draft-player-border: #c0bbb8;
$draft-player-border-hover: #20201f;
$draft-choice-border: #20201f;

$footer-bg: #f4f4f4;
$footer-bg: lighten($primary, 53%);
$footer-color: #6c757d;
